<h1>Willkomen zur Galerie</h1>


<button mat-raised-button routerLink="/">Startseite</button>
<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let item of imageList">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <div class="fill">
                <img src={{item.reference}}>
            </div>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <input type="file" accept="image/*">