#header-wrapper {
  background-color: rgb(168, 50, 50);
};

.logo {
    width: 50px;
    margin: 10px;
}
h1 {
    font-family: Lobster;
    margin: 10px;
}

#logoText {
    justify-content: center;
}
#filler {
    flex-grow: 1;
}

#accountCircle {
    align-self: center;
    font-size: xx-large;
}