.toolbar {
    background-color: rgb(168, 50, 50);
}

.example-spacer {
    flex: 1 1 auto;
  }

.logo {
    max-height: 80%;
    margin: 10px;
    cursor: pointer;
}
.app-name {
    font-family: Lobster;
}
