.profilePic{
border-radius: 50%;
}

.addEvent{
    background-image: url("/assets/background/pexels-asad-photo-maldives-169198.jpg");
    background-size: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.showEvents {
    background-image: url("/assets/background/pexels-nicole-michalou-5779170.jpg");
    background-size: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.conatiner{
    align-self: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.eventText
{
    align-self: center;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}